* {
  box-sizing: border-box;
}


body {
  margin: 0;
  background-color: #DDDDDD;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  padding: 0;
  text-align: center;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
